@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
}

.left-links {
  display: flex;
  gap: 10px;
  padding-left: 15px
}

.right-links {
  display: flex;
  gap: 10px;
  padding-right: 15px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(231, 230, 228);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
  color: grey;
}
