/* style.css */
*{
padding: 0;
margin: 0;
font-size: 40px;
color: green
}

h1 {
    background-color: pink;
    padding: 10px;
    border: 30px solid green;
    margin: 40px;
    color: blue;}


h2 {
    background-color: pink;
    padding: 10px;
    border: 30px solid green;
    margin: 110px;
    color: blue;
}


h3 {
    background-color: purple;
    padding: 50px;
    border: 10px solid grey;
    margin:40px;
}
